<ion-content [fullscreen]="true">
  <body>
    <div class="container">
      <div class="heading">Sign In</div>
      <form class="form" fromGroup="loginForm" (ngSubmit)="onSubmit()">
        <app-input  [control]="email" type="email" label="Email" [fill]="'outline'" [placeholder]="'James@gmail.com'" ></app-input>
        <app-input [control]="password" type="password" label="Password" [fill]="'outline'" [placeholder]="'**********'"></app-input>
        <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
        <app-button class="login-button" type="submit" value="Sign In"></app-button> 
      </form>
      <p class="agreement">
        Don't have an account?
        <a [routerLink]="['/register']" class="agreement">Sign up</a>
      </p>
      <span class="agreement"><a href="#">Learn user license agreement</a></span>
    </div>
  </body>
</ion-content>