/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.custom-loading {

    .loading-wrapper {
        background: transparent !important; 
        box-shadow: none !important;
        border-radius: 0 !important; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 !important; 
        width: auto !important;
        height: auto !important;
      }

    .spinner {
        position: absolute;
        width: 25px;
        height: 40px;
    }

    .spinner div {
        position: absolute;
        width: 50%;
        height: 150%;
        background: transparent;
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
        color: #3eb3c2;
        text-align: end;
        font-weight: 700;
        font-size: 20px;
    }

    .spinner div:nth-child(1) {
        --delay: 0.1;
        --rotation: 36;
        --translation: 150;
    }

    .spinner .middle {
        position: relative;
        background: transparent;
        top: 15px;
        left: -30px;
        color: #f09f9f;
    }

    .spinner div:nth-child(2) {
        --delay: 0.2;
        --rotation: 72;
        --translation: 150;
    }

    .spinner div:nth-child(3) {
        --delay: 0.3;
        --rotation: 108;
        --translation: 150;
    }

    .spinner div:nth-child(4) {
        --delay: 0.4;
        --rotation: 144;
        --translation: 150;
    }

    .spinner div:nth-child(5) {
        --delay: 0.5;
        --rotation: 180;
        --translation: 150;
    }

    .spinner div:nth-child(6) {
        --delay: 0.6;
        --rotation: 216;
        --translation: 150;
    }

    .spinner div:nth-child(7) {
        --delay: 0.7;
        --rotation: 252;
        --translation: 150;
    }

    .spinner div:nth-child(8) {
        --delay: 0.8;
        --rotation: 288;
        --translation: 150;
    }

    .spinner div:nth-child(9) {
        --delay: 0.9;
        --rotation: 324;
        --translation: 150;
    }

    .spinner div:nth-child(10) {
        --delay: 1;
        --rotation: 360;
        --translation: 150;
    }

    div.icon-1,
    div.icon-2 {
        background: transparent;
    }

    .icon-1 svg {
        transform: rotate(180deg);
        position: relative;
        left: -15px;
    }

    .icon-2 svg {
        position: relative;
        left: -15px;
    }

    @keyframes spinner-fzua35 {
        0%,
        10%,
        20%,
        30%,
        50%,
        60%,
        70%,
        80%,
        90%,
        100% {
            transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        }

        50% {
            transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
        }
    }

}

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

//  @import "@ionic/angular/css/palettes/dark.always.css"; 
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";